h1{
  text-shadow: 1px 1px 2px yellowgreen;
  margin-left: 39%;
  text-decoration: underline;
  
}
.card {
  width: 300px;
  border-radius: 8px;
}

.header {
  width: 100%;
  display: inline-flex;
  position: absolute;
}
span {
  background-color: #787878;
  border-radius: 50%;
  padding: 7px;
  margin: 1% 0.5%;
}
.screen {
  color: #e7e7e8;
  padding: 69px 30px 20px 30px;
  background-color: #3a3a3a;
  font-size: xxx-large;
  text-align: end;
}
button {
  color: #e7e7e8;
  width: 100%;
  padding: 20px;
  font-size: 20px;
  background-color: #616169;
  border: 1px solid #25252a;
}
.row {
  width: 100%;
  display: inline-flex;
}
.darkbtn {
  background-color: #414149;
  padding: 20px 98px;
}
.opBtn {
  background-color: #fe9f0b;
}

.zero {
  padding: 20px 106px;
}
#displayText {
  color: #e7e7e8;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 80px auto 20px 20px;
  font-size: 30px;
}